

.container{
    display: grid;
    grid-template-columns: repeat(12, 1ft);
    grid-template-rows: 30px 800px 60px 350px 60px auto 60px auto;
  }
  
  header{
    grid-column: span 12;
  }
  .pic{
    grid-column: span 12;
  }
  .me{
    grid-column: span 12; 
  }
  aside{
    grid-column: span 5;
  }
  main{
    grid-column: span 7;
  }
  .portfolio{
    grid-column: span 12;    
  }
  .port{
    grid-column: span 12;
  }
  .ankieta{
    grid-column: span 12;
  }
  .ank{
    grid-column: span 12;
  }
  
  header{
    
    font-family: 'Pacifico', cursive;
    color: rgb(128, 85, 156);
    font-size: 20px;
  }
 
  body{
    background-image: linear-gradient(rgb(235, 217, 217) 100px,rgb(93, 93, 199) 2000px);
  }
  .fa-facebook{
    transition: all 0.2s ease-in-out;
  }
  .fa-facebook:hover {
    opacity: 0.7;
    color: rgb(70, 36, 92);
    text-decoration: none;
  }
  .fa-twitter{
    transition: all 0.2s ease-in-out;
  }
  .fa-twitter:hover {
    opacity: 0.7;
    color: rgb(70, 36, 92);
    text-decoration: none;
  }
  .fa-instagram{
    transition: all 0.2s ease-in-out;
  }
  .fa-instagram:hover {
    opacity: 0.7;
    color: rgb(70, 36, 92);
    text-decoration: none;
  }
  .fa-pinterest{
    transition: all 0.2s ease-in-out;
  }
  .fa-pinterest:hover {
    opacity: 0.7;
    color: rgb(70, 36, 92);
    text-decoration: none;
  }
  .fa{
    text-decoration: none;
    width: 17%;
    color:rgb(70, 36, 92)
  
  }
  
  .pic{
    background: url(2back.jpg) no-repeat 0% 30%/ cover padding-box border-box;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(153, 97, 190);
    text-align: center;
  }
  figure{
      display: flex;
  }
 #cv{
     border-radius: 79%;
     position: relative;
     height: 280px;
     top: 15px;
     left: 90px;
     border-left: 5px solid rgb(137, 100, 146);
 }
 .me{
    font-family: 'Pacifico', cursive;
    color: rgb(128, 85, 156);
    font-size: 40px;
    text-align: center;
    
 }
 aside{
    position: relative;
     border-right: 8px solid rgb(71, 29, 95); 
     border-left: 0px;
     border-top: 0px;
     border-bottom: 0px;
     border-style: dotted;
 }
 .portfolio{
    font-family: 'Pacifico', cursive;
    color: rgb(128, 85, 156);
    font-size: 40px;
    text-align: center;
 }
.ankieta{
    font-family: 'Pacifico', cursive;
    color: rgb(65, 30, 88);
    font-size: 40px;
    text-align: center;
}
.img-fluid{
  transition: all 0.2s ease-in-out;
}
.img-fluid:hover{
transform: scale(1.1);  
opacity: 0.9;
}
label{
  font-family: 'Pacifico', cursive;
  color: rgb(65, 30, 88);
}
.ank{
  display: flex;
  justify-content: center;
}
input{
  background-color: rgb(205, 183, 226);
}
textarea{
  background-color: rgb(205, 183, 226);
}
p{ font-family: 'Pacifico', cursive;
  color: rgb(65, 30, 88);
  text-align: center;

}
main{
  font-family: 'Pacifico', cursive;

}